.pending-homepage{
	margin-top: 20px; 
	margin-bottom: 20px; 
 	background: #e3e3e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
}

.homepage-block{
	background: #1D3C91;
	margin: 15px;
	padding: 15px;
	color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}